<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="modal-title finpal-h2 padding-bottom-10 margin-right-5" id="MatchModalLabel1">View action</span>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1 auto-width">
                            <ul class="icon-list margin-top-bot-5">
                                <li>
                                    <span *ngIf="!adviceBuilderService.isChangeExistingPolicy"><i class="fa fa-umbrella fa-lg dark-gray"></i></span>
                                    <span *ngIf="adviceBuilderService.isChangeExistingPolicy"><i class="fa fa-pencil fa-lg dark-gray"></i></span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-11 padding-0">
                            <div>
                                <h3 *ngIf="!adviceBuilderService.isChangeExistingPolicy" class="action-style">New insurance policy</h3>
                                <h3 *ngIf="adviceBuilderService.isChangeExistingPolicy" class="action-style">Changes to an existing Insurance Policy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills padding-top-10 padding-bottom-20">
                                <li class="active">
                                    <a id="insurance-details-view" data-toggle="pill" href="#insurance-basic-data-view">Action details</a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#insurance-complementary-data-view">Advice comments</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="insurance-basic-data-view" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-8" *ngIf="!adviceBuilderService.isChangeExistingPolicy">
                                            <label class="control-label">Policy name</label>
                                            <p class="field-info">{{insurancePolicy.policyName || 'N/A'}}</p>
                                        </div>
                                        <div class="col-md-8" *ngIf="adviceBuilderService.isChangeExistingPolicy">
                                            <label class="control-label">The existing policy you chosen</label>
                                            <p class="field-info">{{getInsuranceName(insurancePolicy.personalInsuranceId)}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Primary Client</label>
                                            <p class="field-info">{{returnPrimaryClientName(insurancePolicy.primaryClientId)}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 padding-top-20">
                                            <label class="control-label">Insurance company</label>
                                            <p class="field-info">{{returnInsuranceCompanyName(insurancePolicy.insuranceCompanyId)}}</p>
                                        </div>
                                        <div class="col-md-3 padding-top-20">
                                            <label class="control-label">Premiums paid from</label>
                                            <p class="field-info">{{returnPremiumsPaid(insurancePolicy.premiumsPaidFrom)}}</p>
                                        </div>
                                        <div class="col-md-3 padding-top-20">
                                            <label class="control-label">Superannuation account</label>
                                            <p class="field-info">{{returnSuperannuationAccount(insurancePolicy.clientAssetId)}}</p>
                                        </div>
                                        <div class="col-md-3 padding-top-20">
                                            <label class="control-label">Frequency</label>
                                            <p class="field-info">{{returnFrequency(insurancePolicy.premiumFrequency)}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <insurance-benefit-view #benefit [benefitList]="inputBenefitList" [clientList]="clientList"></insurance-benefit-view>
                                </div>
                                <div id="insurance-complementary-data-view" class="tab-pane fade">
                                    <div>
                                        <label class="control-label">What is this action?</label>
                                        <textarea class="form-control" [value]="insurancePolicy.details || 'N/A'" readonly></textarea>
                                    </div>
                                    <div class="padding-top-20">
                                        <label class="control-label">Why are you taking this action?</label>
                                        <textarea class="form-control" [value]="insurancePolicy.reason || 'N/A'" readonly></textarea>
                                    </div>
                                    <div class="padding-top-20">
                                        <label class="control-label">How It improves your situation?</label>
                                        <textarea class="form-control" [value]="insurancePolicy.result || 'N/A'" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>