<form #noneSpending="ngForm">
    <div class="row">
        <div class="col-md-1">
            <ul class="icon-list margin-top-bot-5">
                <li *ngFor="let icon of iconCSSList">
                    <span *ngIf="iconCSS === icon">
                        <i class="fa fa-lg dark-gray" [ngClass]="iconCSS"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-md-11 padding-0">
            <h3 class="goal-style">{{goalTypeName}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 padding-top-10">
            <label for="name">Goal name</label>
            <p class="field-info" id="name">{{goalOutPut.name == undefined ? 'N/A' : goalOutPut.name}}</p>
        </div>
        <div class="col-md-4 padding-top-10">
            <label for="year">Year</label>
            <p class="field-info" id="year">{{goalOutPut.startYear == undefined ? 'N/A' : goalOutPut.startYear}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 padding-top-10">
            <label for="goal-description">Goal Description</label>
            <p class="field-info" id="goal-description">{{goalOutPut.description == undefined ? 'N/A' : goalOutPut.description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 padding-top-20 padding-bottom-10">
            <a class="btn btn-info pull-right" data-dismiss="modal">Close</a>
        </div>
    </div>
</form>