<div class="progress-menu-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="steps-form-2">
                    <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
                        <div class="steps-step-2">
                            <a href="#/mobile-on-boarding/personal-information" type="button" class="btn btn-active-step btn-circle-2" data-toggle="tooltip" data-placement="top" title="Personal info"><i class="fas fa-user fa-lg"
                  aria-hidden="true"></i></a>
                        </div>
                        <div class="steps-step-2">
                            <a href="#/mobile-on-boarding/family-member" type="button" class="btn btn-default-step btn-circle-2" data-toggle="tooltip" data-placement="top" title="Family members"><i class="fas fa-users fa-lg"
                  aria-hidden="true"></i></a>
                        </div>
                        <div class="steps-step-2">
                            <a href="#/mobile-on-boarding/financial-situation" type="button" class="btn btn-default-step btn-circle-2" data-toggle="tooltip" data-placement="top" title="Financial situation"><i class="fas fa-money-bill-alt fa-lg"
                  aria-hidden="true"></i></a>
                        </div>
                        <div class="steps-step-2">
                            <a href="#/mobile-on-boarding/your-goal" type="button" class="btn btn-default-step btn-circle-2" data-toggle="tooltip" data-placement="top" title="Your goals"><i class="fas fa-flag-checkered fa-lg"
                  aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<fp-spinner-loading #myLoadingSpinner></fp-spinner-loading>
<crop-image #cropImage (croppedImage)="handleCroppedImage($event)"></crop-image>
<div *ngIf="!onLoadComponent; then component else waiting"></div>
<ng-template #component>
    <div class="container padding-top-30 padding-bottom-30">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="finpal-h2 dark-gray">Personal information</h2>
                <p>Please update any missing/incorrect information.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <img [src]="profileImg" class="img-circle img-responsive" width="100%" />
                <p class="text-center" style="display: inline-flex;">
                    <input type="file" id="uploadFromCamera" name="uploadFromCamera" accept="image/*" capture="camera" class="sr-only" (change)="handleUploadImage($event)">
                    <label for="uploadFromCamera">
            <span class="btn btn-default btn-sm margin-top-10 margin-right-5">
              <i class="fas fa-camera fa-lg" aria-hidden="true"></i>
            </span>
          </label>

                    <input type="file" id="uploadFromFile" name="uploadFromFile" accept="image/*" class="sr-only" (change)="handleUploadImage($event)">
                    <label for="uploadFromFile">
            <span class="btn btn-default btn-sm margin-top-10">
              <i class="fas fa-upload fa-lg" aria-hidden="true">
              </i>
            </span>
          </label>
                </p>
            </div>
        </div>
        <form #testForm="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="firstname" class="control-label padding-top-20">* First name</label>
                            <input type="text" class="form-control" name="firstname" [(ngModel)]="userInfo.firstName" required tabindex="1">
                            <label for="lastname" class="control-label padding-top-20">* Last name</label>
                            <input type="text" class="form-control" name="lastname" [(ngModel)]="userInfo.lastName" required tabindex="2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="birthday" class="control-label padding-top-20">* Date of birth</label>
                            <!--<app-date-picker #datePicker [selectedDate]="userInfo.birthday" tabindex="4"></app-date-picker>-->
                            <app-datepicker #datePicker id="birthday" [inputDate]="userInfo.birthday"></app-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <label for="maritalstatus" class="control-label padding-top-20">* Marital status</label>
                            <select class="form-control" required (change)="onUpdateMaritialStatus($event)" name="marital-status" tabindex="5" [(ngModel)]="selectedStatus">
                <option *ngFor='let option of maritalStatuses' [value]="option.code">{{option.name}}</option>
              </select>
                        </div>
                        <div class="col-xs-6">
                            <label for="gender" class="control-label padding-top-20">* Gender</label>
                            <select class="form-control" required (change)="onUpdateGender($event)" tabindex="3" name="gender" [(ngModel)]="selectedGender">
                <option *ngFor='let option of genderTypes' [value]="option.code">{{option.name}}</option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                            <h2 class="finpal-h3 dark-blue padding-bottom-10">Contact information</h2>
                            <p>We will use this information to contact you, also your email address will be your login email.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="street1" class="control-label padding-top-20">Mobile phone</label>
                            <input type="text" class="form-control" name="mobile" [(ngModel)]="userInfo.mobilePhone" tabindex="6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="street1" class="control-label padding-top-20">Home phone</label>
                            <input type="text" class="form-control" name="home" [(ngModel)]="userInfo.homePhone" tabindex="7">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="street1" class="control-label padding-top-20">* Email address</label>
                            <input type="text" class="form-control" disabled="disabled" name="email" [(ngModel)]="userInfo.email" required tabindex="8">
                        </div>
                    </div>
                    <div class="row padding-top-20">
                        <div class="col-xs-12">
                            <button type="submit" (click)="btnSaveClick()" class="btn btn-info pull-right" [disabled]="!testForm.form.valid || !datePicker.isValid">
                Save & continue
                <i class="fas fa-angle-right" aria-hidden="true"></i>
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #waiting>
    <app-mobile-waiting></app-mobile-waiting>
</ng-template>