@import '../../../../../../../assets/styles/css/customize-styles.css';
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #FF8C00;
}

a {
    color: #337ab7 !important;
}

.modal {
    color: #666 !important;
}

.modal-body .nav-pills>li>a {
    font-size: 1em;
}

textarea {
    resize: vertical;
    min-height: 35px;
}