@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.finpal-h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}