<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <span *ngIf="!adviceBuilderService.isUpdateAction" class="modal-title finpal-h2 padding-bottom-10 margin-right-5">Add new action</span>
            <span *ngIf="adviceBuilderService.isUpdateAction" class="modal-title finpal-h2 padding-bottom-10 margin-right-5">Update action</span>
        </div>
        <div class="modal-body" [style.display]="((cancelPolicy.actionId && adviceBuilderService.isUpdateAction) || !adviceBuilderService.isUpdateAction) ? 'block' : 'none'">
            <form #cancelInsurancePolicy="ngForm">
                <div class="row">
                    <div class="col-md-1 auto-width">
                        <ul class="icon-list margin-top-bot-5">
                            <li>
                                <span><i class="fas fa-times fa-lg dark-gray"></i></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-11 padding-0">
                        <h3 *ngIf="adviceBuilderService.isUpdateAction" class="action-style">Update cancel an insurance policy
                        </h3>
                        <h3 *ngIf="!adviceBuilderService.isUpdateAction" class="action-style">Cancel an insurance policy
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills padding-top-10 padding-bottom-20">
                            <li class="active">
                                <a id="cancel-insurance-details" data-toggle="pill" href="#cancel-insurace-basic-data">Action details</a>
                            </li>
                            <li>
                                <a data-toggle="pill" href="#cancel-insurance-complementary-data">Advice comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="cancel-insurace-basic-data" class="tab-pane fade in active">
                                <div class="col-md-6">
                                    <label class="control-label">Choose the policy you want to cancel</label>
                                    <!-- <select class="form-control" name="insurance" [(ngModel)]="cancelPolicy.personalInsuranceId" required>
                                        <option hidden value="-1"></option>
                                        <option *ngFor="let insurance of insuranceListToClose" [value]="insurance.id">{{insurance.name}}</option>
                                    </select> -->
                                    <!-- create action -->
                                    <div [hidden]="adviceBuilderService.isUpdateAction">
                                        <select class="form-control" name="insurance" [(ngModel)]="cancelPolicy.personalInsuranceId" required>
                                            <option hidden value="-1"></option>
                                            <option *ngFor="let insurance of insuranceListToClose"
                                                [value]="insurance.id">{{insurance.name}}</option>
                                        </select>
                                    </div>
                                    <!-- update action -->
                                    <div [hidden]="!adviceBuilderService.isUpdateAction">
                                        <select class="form-control" name="insurance" [(ngModel)]="cancelPolicy.personalInsuranceId" required>
                                            <option hidden value="-1"></option>
                                            <option *ngFor="let insurance of insuranceListToUpdate"
                                                [value]="insurance.id">{{insurance.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">When do you want to cancel?</label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="margin-top-5">
                                                <label class="radio-inline">
                                                    <input type="radio" name="transfertime" (change)="onYearClick(1)"
                                                        [value]="false" [(ngModel)]="selectOnYearTyping"> Now
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <span class="pull-left margin-top-5">
                                                <label class="radio-inline">
                                                    <input type="radio" name="transfertime" (change)="onYearClick(2)"
                                                        [value]="true" [(ngModel)]="selectOnYearTyping"> On year
                                                </label>
                                            </span>
                                            <input type="number" class="form-control input-number-without-arrow pull-left margin-left-10" min="1900" style="width:60px;" placeholder="YYYY" name="onYear" [(ngModel)]="typingYear" [disabled]="!selectOnYearTyping" [required]="selectOnYearTyping">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cancel-insurance-complementary-data" class="tab-pane fade">
                                <div>
                                    <label class="control-label">What is this action?</label>
                                    <textarea class="form-control" rows="4" name="details" [(ngModel)]="cancelPolicy.details" [placeholder]="cancelPolicy.details || ''"></textarea>
                                </div>
                                <div class="padding-top-20">
                                    <label class="control-label">Why are you taking this action?</label>
                                    <textarea class="form-control" rows="4" name="reason" [(ngModel)]="cancelPolicy.reason" [placeholder]="cancelPolicy.reason || ''"></textarea>
                                </div>
                                <div class="padding-top-20">
                                    <label class="control-label">How It improves your situation?</label>
                                    <textarea class="form-control" rows="4" name="result" [(ngModel)]="cancelPolicy.result" [placeholder]="cancelPolicy.result || ''"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 padding-top-30">
                        <hr>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Dismiss</button>
                        <button type="button" class="btn btn-info pull-right margin-right-5" (click)="saveChangesCancelExistingPolicy()" [disabled]="cancelInsurancePolicy.invalid || !viewDetectChange()">{{adviceBuilderService.isUpdateAction ? 'Save changes' : 'Confirm cancelation'}}</button>
                    </div>
                </div>
            </form>
        </div>
        <div [style.display]="(!cancelPolicy.actionId && adviceBuilderService.isUpdateAction) ? 'block' : 'none'" class="modal-body text-center margin-top-10 margin-bottom-10">
            <i class="fas fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>