<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1 class="text-center">
                        <img src="../../../../assets/img/miplan-logo-large.png" alt="miPlan logo" />
                    </h1> -->
                    <h1 class="text-center font-size-30 m-dark-gray">Financial Advice Portal</h1>
                    <h4 class="h4 text-center padding-top-30" style="font-family: inherit !important">Sign in to your account</h4>
                    <form>
                        <div class="form-group padding-top-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <!-- <input type="email" class="form-control" id="" placeholder="Email"> -->
                                <input type="email" (keyup.enter)="login()" class="form-control" name="email" #email="ngModel" placeholder="Email" [(ngModel)]="username" required email>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-key"></i>
                                </span>
                                <!-- <input type="password" class="form-control" id="" placeholder="Password"> -->
                                <input type="password" (keyup.enter)="login()" class="form-control" name="password" #pass="ngModel" placeholder="Password" [(ngModel)]="password" required>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [checked]="isRememberMe" (change)="changeRememberMe()"> Remember me
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 padding-top-10">

                    <a href="#/forgot-password">
                        <i class="fas fa-question-circle"></i> Forgot your password?</a>

                </div>
                <div class="col-md-4">
                    <button type="submit" (click)="login()" class="btn btn-info pull-right">SIGN IN</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padding-top-10">
                    <hr class="finpal-rule" />
                </div>
                <div class="col-md-6 padding-top-10" style="padding-left: 0px; padding-right: 0px">
                    <h4 class="h4 text-center">OR sign in as Adviser</h4>
                </div>
                <div class="col-md-3 padding-top-10">
                    <hr class="finpal-rule" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-top-10 text-center">
                    <a class="btn btn-default" href="{{adminSignInUrl}}">
                        <img src="../../../../assets/img/Microsoft-Logo.png" class="margin-right-5"> Sign in with Microsoft</a>
                </div>
            </div>
        </div>
    </div>
</div>
<fp-footer-min></fp-footer-min>
<!-- <fp-spinner-loading #myLoadingSpinner></fp-spinner-loading> -->