<div class="breadcrumb-bar green-background padding-top-50 padding-bottom-10">
    <div class="container">
        <a routerLink="/landing"><i class="fas fa-home fa-lg margin-right-5"></i></a> <i class="fas fa-angle-right margin-right-5"></i>
        <span class="active-breadcrumb">Import from file</span>
    </div>
</div>
<div class="container padding-top-40 padding-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <h1 class="finpal-h1">Import from file</h1>
            <p>Automatic matching process has completed. The following items need your attention.</p>
            <h3 class="finpal-h4 padding-top-20">{{fileName}}</h3>
            <ul class="nav nav-pills padding-top-10 padding-bottom-20">
                <li><a data-toggle="pill" href="#matched"><i class="fas fa-check-circle green-color"></i>
                    Matched records ({{matchedLength}})</a></li>
                <li class="active"><a data-toggle="pill" href="#unmatched"><i class="fas fa-exclamation-circle light-orange"></i>
                    Unmatched records ({{unmatchedLength}})</a></li>
                <li><a data-toggle="pill" href="#new"><i class="fas fa-plus-circle light-blue"></i> 
                    New records ({{newRecordLength}})</a></li>
                <li><a data-toggle="pill" href="#invalid"><i class="fas fa-exclamation-circle red"></i> 
                    Invalid records ({{invalidLength}})</a></li>
            </ul>
            <div class="tab-content">
                <div [ngSwitch]="entityName" id="matched" class="tab-pane fade in">
                    <div *ngSwitchCase="'contacts'">
                        <contacts-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)"></contacts-matched>
                    </div>
                    <div *ngSwitchCase="'finpal_households'">
                        <households-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </households-matched>
                    </div>

                    <div *ngSwitchCase="'accounts'">
                        <companies-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </companies-matched>
                    </div>
                    <div *ngSwitchCase="'finpal_clientassets'">
                        <client-assets-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </client-assets-matched>
                    </div>
                    <div *ngSwitchCase="'finpal_clientdebts'">
                        <client-debts-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </client-debts-matched>
                    </div>
                    <div *ngSwitchCase="'finpal_personalinsurances'">
                        <insurance-policies-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </insurance-policies-matched>
                    </div>
                    <div *ngSwitchCase="'finpal_insurancebenefits'">
                        <insurance-benefits-matched [matchedList]="matchedRecords" [matchedLength]="matchedLength" (loading)="handleLoading($event)">
                        </insurance-benefits-matched>
                    </div>
                </div>

                <div [ngSwitch]="entityName" id="unmatched" class="tab-pane fade in active">
                    <div *ngSwitchCase="'contacts'">
                        <contacts-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)"></contacts-unmatched>
                    </div>
                    <div *ngSwitchCase="'finpal_households'">
                        <households-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </households-unmatched>
                    </div>

                    <div *ngSwitchCase="'accounts'">
                        <companies-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </companies-unmatched>
                    </div>
                    <div *ngSwitchCase="'finpal_clientassets'">
                        <client-assets-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </client-assets-unmatched>
                    </div>
                    <div *ngSwitchCase="'finpal_clientdebts'">
                        <client-debts-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </client-debts-unmatched>
                    </div>
                    <div *ngSwitchCase="'finpal_personalinsurances'">
                        <insurance-policies-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </insurance-policies-unmatched>
                    </div>
                    <div *ngSwitchCase="'finpal_insurancebenefits'">
                        <insurance-benefits-unmatched [unmatchedList]="unmatchedRecords" [unmatchedLength]="unmatchedLength" [unmatchedListAll]="unmatchedRecordsAll" (loading)="handleLoading($event)">
                        </insurance-benefits-unmatched>
                    </div>
                </div>

                <div [ngSwitch]="entityName" id="new" class="tab-pane fade in">
                    <div *ngSwitchCase="'contacts'">
                        <contacts-new-record [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)"></contacts-new-record>
                    </div>
                    <div *ngSwitchCase="'finpal_households'">
                        <households-new-record [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </households-new-record>
                    </div>

                    <div *ngSwitchCase="'accounts'">
                        <companies-new [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </companies-new>
                    </div>
                    <div *ngSwitchCase="'finpal_clientassets'">
                        <client-assets-new [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </client-assets-new>
                    </div>
                    <div *ngSwitchCase="'finpal_clientdebts'">
                        <client-debts-new [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </client-debts-new>
                    </div>
                    <div *ngSwitchCase="'finpal_personalinsurances'">
                        <insurance-policies-new [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </insurance-policies-new>
                    </div>
                    <div *ngSwitchCase="'finpal_insurancebenefits'">
                        <insurance-benefits-new [newRecordList]="newRecords" [newRecordLength]="newRecordLength" (loading)="handleLoading($event)">
                        </insurance-benefits-new>
                    </div>
                </div>

                <div [ngSwitch]="entityName" id="invalid" class="tab-pane fade in ">
                    <div *ngSwitchCase="'contacts'">
                        <contacts-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </contacts-invalid>
                    </div>
                    <div *ngSwitchCase="'finpal_households'">
                        <households-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </households-invalid>
                    </div>

                    <div *ngSwitchCase="'accounts'">
                        <companies-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </companies-invalid>
                    </div>
                    <div *ngSwitchCase="'finpal_clientassets'">
                        <client-assets-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </client-assets-invalid>
                    </div>
                    <div *ngSwitchCase="'finpal_clientdebts'">
                        <client-debts-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </client-debts-invalid>
                    </div>
                    <div *ngSwitchCase="'finpal_personalinsurances'">
                        <insurance-policies-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </insurance-policies-invalid>
                    </div>
                    <div *ngSwitchCase="'finpal_insurancebenefits'">
                        <insurance-benefits-invalid [invalidList]="invalidRecords" [invalidLength]="newRecordLength" (loading)="handleLoading($event)">
                        </insurance-benefits-invalid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fp-spinner-loading #myLoadingSpinner></fp-spinner-loading>