<div class="breadcrumb-bar-document padding-top-50 padding-bottom-10">
    <div class="container">
        <a routerLink="/landing"><i class="fa fa-home fa-lg margin-right-5"></i></a> <i class="fa fa-angle-right margin-right-5"></i>
        <a routerLink="/document/generate-report" class="margin-right-5">Document generator</a>
        <i class="fas fa-angle-right margin-right-5"></i> <a routerLink="/document/template-manager" class="margin-right-5">Template manager</a>
        <i class="fas fa-angle-right margin-right-5"></i> <span class="active-breadcrumb">{{action}}</span>
    </div>
</div>
<iframe [src]="documentGeneratorUrl" frameborder="0" allowfullscreen style="width: 100%;height: 910px;"></iframe>
