<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span *ngIf="!clientDebt || !clientDebt.id" class="modal-title finpal-h2 padding-bottom-10 margin-right-5">New debt</span>
    <span *ngIf="clientDebt && clientDebt.id" class="finpal-h3 padding-bottom-20 margin-right-5">{{_financialService.getName()}}</span>
    <a rel="popover" data-popover-content="#debt-info" data-placement="right" onclick="$(this).popover('toggle')">
        <i class="fas fa-info-circle" aria-hidden="true"></i>
    </a>
    <div id="debt-info" class="hide">
        <p class="dark-gray">
            Please provide information about any current loans, including your home mortgage, investment loans, credit cards, car loans, etc.
        </p>
    </div>
</div>
<div class="modal-body">
    <form #testForm="ngForm" appIdentityRevealed>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- Debt Type -->
                    <div class="col-md-4">
                        <label class="control-label">* Debt type</label>
                        <select class="form-control" required id="debt-type" name="debt-type" (change)="onDebtCategoryTypeChange()" [(ngModel)]="clientDebt.debtCategory">
              <option *ngFor='let option of debtCategoryList' [ngValue]="option.code">{{option.name}}</option>
            </select>
                    </div>
                    <!-- Ownership Type -->
                    <div class="col-md-4">
                        <label class="control-label">* Ownership type</label>
                        <select class="form-control" required id="ownership-type" name="ownership-type" (change)="onOwnershipChange($event)" [(ngModel)]="selectedOwnerShip">
              <option selected [hidden]="true"></option>
              <option *ngFor="let option of ownerShipTypes" [value]="option.code">{{option.name}}</option>
            </select>
                    </div>
                    <!-- Debt Name -->
                    <div class="col-md-4">
                        <label fclass="control-label">* Debt name</label>
                        <input type="text" class="form-control" name="debtName" [(ngModel)]="clientDebt.name" required>
                    </div>
                </div>

                <div class="row padding-top-20">
                    <!-- Current Balance -->
                    <div class="col-md-4">
                        <label fclass="control-label">* Current balance</label>
                        <input autocomplete="off" type="text" class="form-control" name="currentBalance" placeholder="$0" [(ngModel)]="currentBalance" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" (focus)="onAmountFocus(currentBalance, 'currentBalance')" (focusout)="onAmountFocusOut(currentBalance, 'currentBalance')"
                            (keyup)="onAmountKeyup($event, 'currentBalance')" required>
                    </div>
                    <!-- Current interest rate -->
                    <div class="col-md-4">
                        <label fclass="control-label">Current interest rate (%)</label>
                        <input type="text" class="form-control" placeholder="1.25%" id="interestRateID" name="currentInterestRate" [ngModel]="interestRateNumber" (keyup)="onKeyUpValidate($event.target.value)" (change)="interestRateChange($event)" (focus)="interestRateFocus()"
                            (focusout)="interestRateFocusOut($event.target.value)" oninput="this.value=this.value.replace(/[^0-9.]/g,'');">
                        <div *ngIf="!isValidInterestRate">
                            <br>
                            <span class="margin-right-20 pull-right" style="color:red; font-size: 14px; margin-top: -10px;">
                Please use an exactly format of NN.NN%
              </span>
                        </div>
                    </div>
                    <!-- Interest rate type -->
                    <div *ngIf="isShowInterestRateType" class="col-md-4">
                        <label class="control-label">Interest rate type</label>
                        <select class="form-control" id="interest-rate-type" name="interest-rate-type" [(ngModel)]="clientDebt.interestRateType">
              <option *ngFor='let option of interestRateTypes' [ngValue]="option.code">
                {{option.name}}
              </option>
            </select>
                    </div>
                </div>

                <div class="row padding-top-20">
                    <!-- Repayments -->
                    <div class="col-md-4">
                        <label fclass="control-label">Repayments</label>
                        <input autocomplete="off" type="text" class="form-control" name="payment" placeholder="$0" [(ngModel)]="repayment" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" (focus)="onAmountFocus(repayment, 'repayment')" (focusout)="onAmountFocusOut(repayment, 'repayment')"
                            (keyup)="onAmountKeyup($event, 'repayment')" required>
                    </div>
                    <!-- Frequency -->
                    <div class="col-md-4">
                        <label class="control-label">Frequency</label>
                        <select class="form-control" id="frequency" name="frequency" [(ngModel)]="clientDebt.repaymentFrequency">
              <option *ngFor='let option of requencyTypes' [ngValue]="option.code">
                {{option.name}}
              </option>
            </select>
                    </div>
                    <!-- Do you have an offset account? -->
                    <div *ngIf="isShowOffsetAccount" class="col-md-4">
                        <label class="control-label">Do you have an offset account?</label>
                        <label class="radio-inline">
              <input type="radio" name="offsetAccountQuest" [value]="true" [(ngModel)]="isShowOffsetBalance"> Yes
            </label>
                        <label class="radio-inline">
              <input type="radio" name="offsetAccountQuest" [value]="false" [(ngModel)]="isShowOffsetBalance"> No
            </label>
                    </div>
                </div>
                <!-- Current offset balance -->
                <div class="row padding-top-20">
                    <div *ngIf="isShowOffsetBalance" class="col-md-4">
                        <label class="control-label">Current offset balance</label>
                        <input autocomplete="off" type="text" class="form-control" name="currentOffsetBalance" placeholder="$0" [(ngModel)]="offsetAccountBalance" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" (focus)="onAmountFocus(offsetAccountBalance, 'offsetAccountBalance')"
                            (focusout)="onAmountFocusOut(offsetAccountBalance, 'offsetAccountBalance')" (keyup)="onAmountKeyup($event, 'offsetAccountBalance')" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 padding-top-20">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                <button *ngIf="clientDebt && !clientDebt.id" type="button" [disabled]="testForm.invalid || !isValidInterestRate" (click)="btnAddItemClick(1)" class="btn btn-info pull-right margin-right-5">Add debt
        </button>
                <button *ngIf="clientDebt && clientDebt.id" type="button" [disabled]="testForm.invalid || !isValidInterestRate || !detectDataChanges()" (click)="btnAddItemClick(2)" class="btn btn-info pull-right margin-right-5">
          Save changes</button>
            </div>
        </div>
    </form>
</div>