input {
    width: 84px;
    text-align: right;
    padding: 6px 8px;
}

input.year-input {
    width: 30px;
    padding: 6px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.insurance-have,
.insurance-need {
    color: #002050;
}

.inline {
    display: inline;
}

.margin-right-3 {
    margin-right: 3px
}

@media only screen and (min-width: 992px) {
    input {
        min-width: 90px;
    }
    span.span-text {
        margin-left: 5px;
    }
    input.year-input {
        min-width: 40px;
    }
}

.btn-info {
    height: 40px;
    width: 100%;
    padding: 9px 12px;
}


/*========================================================
                        FOR MOBILE
==========================================================*/

.mobile-insurance-outcomes svg.fa-info-circle {
    height: 18px;
    width: 18px;
}

.mobile-insurance-outcomes p {
    margin-bottom: 0;
}

.mobile-insurance-outcomes input,
.mobile-insurance-outcomes input:focus {
    font-size: 16px;
    text-align: left;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #E1E1E1;
    -webkit-box-shadow: none;
    padding: 6px 0;
}

.mobile-insurance-outcomes input.percent-input {
    width: 50px;
}

.mobile-insurance-outcomes select.form-control,
.mobile-insurance-outcomes select.form-control:focus {
    border: none;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
    box-shadow: none;
    padding: 6px 0;
    -webkit-box-shadow: none;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' width='50' height='25' fill='%230072C6'><path d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/></svg>") no-repeat;
    background-position: right -18px top 50%;
}

.mobile-insurance-outcomes .card {
    height: 86px;
    width: 100%;
}

.mobile-insurance-outcomes .card#total-you-need .icon {
    padding-top: 5px;
}

.mobile-insurance-outcomes .card#total-you-need .content {
    padding-left: 5px;
}

.mobile-insurance-outcomes .card#total-you-have .content {
    padding-left: 0;
}