<!-- <div *ngIf="isMobile; then mobile else desktop"></div> -->
<div class="breadcrumb-bar-revenue padding-top-40 padding-bottom-20">
  <div class="container">
    <a routerLink="/landing">
      <i class="fas fa-home fa-lg margin-right-5"></i>
    </a>
    <i class="fas fa-angle-right margin-right-5"></i> Import revenues
  </div>
</div>
<div class="container padding-top-40 padding-bottom-50">
  <div class="col-md-12">
    <h1 class="finpal-h1">Import revenues</h1>
    <p>
      <i class="fas fa-check margin-right-5 green-color"></i> File upload is completed!</p>
    <p class="small">
      <i class="fas fa-circle-notch fa-pulse"></i> We are trying to automatically match each row.</p>
    <p class="small">This process may take a few minutes, please hold on...</p>
    <div class="row">
      <div class="col-md-4">
        <div class="progress">
          <div id="checkProgressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
