<div class="breadcrumb-bar green-background padding-top-50 padding-bottom-10">
    <div class="container">
        <a routerLink="/landing"><i class="fas fa-home fa-lg margin-right-5"></i></a> <i class="fas fa-angle-right margin-right-5"></i>
        <span class="active-breadcrumb">Import from file</span>
    </div>
</div>
<div class="container padding-top-40 padding-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <h1 class="finpal-h1">Import from file</h1>
            <p><i class="fas fa-check margin-right-5 green-color"></i> File upload is completed!</p>
            <p class="small"><i class="fas fa-circle-notch fa-pulse"></i> We are trying to automatically match each
                row.</p>
            <p class="small">This process may take a few minutes, please hold on...</p>
            <div class="row">
                <div class="col-md-4">
                    <progress-bar></progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
