<div class="breadcrumb-bar green-background padding-top-50 padding-bottom-10">
    <div class="container">
        <a routerLink="/landing"><i class="fas fa-home fa-lg margin-right-5"></i></a> <i class="fas fa-angle-right margin-right-5"></i>
        <span class="active-breadcrumb">Import from file</span>
    </div>
</div>
<div class="container padding-top-40 padding-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <h1 class="finpal-h1">Import from file</h1>
            <p *ngIf="!isAllMatched">
                We where not able to match all the fields of the file with the data on CRM. Please
                help us match the missing ones.
            </p>
            <p *ngIf="isAllMatched">
                Auto field mapping attempt complete. Please confirm all fields in the import file have been correctly
                mapped to CRM fields.
            </p>
        </div>
    </div>
    <form #manualMatchForm="ngForm">

        <div class="row padding-top-20">
            <!-- Required fields -->
            <div class="col-md-4">
                <h2 class="finpal-h4 padding-bottom-10">Required fields</h2>
                <div class="table-responsive">
                    <table class="table small">
                        <thead>
                            <tr>
                                <th>CRM</th>
                                <th>File</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let field of requireCrmList; let i = index">
                            <tr>
                                <td>
                                    <p>{{field.displayName}}</p>
                                </td>
                                <td>
                                    <select [id]="field.targetName" required class="form-control input-sm" (change)="selectedRequireField($event, i)">
                                        <option value="" hidden></option>
                                        <option [value]="columnName" *ngFor="let columnName of requiredFileList">{{columnName}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Optional fields -->
            <div *ngIf="optionalFileList && optionalFileList.length > 0" class="col-md-4 col-md-offset-1">
                <h2 class="finpal-h4 padding-bottom-10">Optional fields</h2>
                <div class="table-responsive">
                    <table class="table small">
                        <!--Table head-->
                        <thead>
                            <tr>
                                <th>File</th>
                                <th>CRM</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let optionField of optionalFileList; let i = index">
                            <tr>
                                <td>
                                    <p>{{optionField}}</p>
                                </td>
                                <td>
                                    <select id="optionField{{i}}" class="form-control input-sm" (change)="seletedOptionalField($event, i)">
                                        <option value=""></option>
                                        <option [value]="crmField.targetName" *ngFor="let crmField of optionalCrmList">{{crmField.displayName}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <button class="btn btn-info pull-right" [disabled]="manualMatchForm.invalid" (click)="btnContinue()">Continue</button>
    </form>
</div>

<fp-spinner-loading #myLoadingSpinner></fp-spinner-loading>