<fp-header> </fp-header>
<div class="breadcrumb-bar-generic padding-top-50 padding-bottom-10">
    <div class="container">
        <a class="margin-right-5">Get started</a> <i class="fas fa-angle-right margin-right-5"></i> <span class="active-breadcrumb">Step 1</span>
    </div>
</div>
<div class="container padding-top-50 padding-bottom-50">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center padding-top-50">

            <h2 class="finpal-h1 padding-bottom-10"><i class="far fa-frown"></i> Sorry to see you go</h2>
            <p class="finpal-h3 padding-bottom-20">Please don't hesitate to contact us. </p>
            <!--<a href="fp-d-bus_onboarding-contact-us.html" class="btn btn-info">I need help</a>-->
            <a href="https://vimeo.com/196707291" class="btn btn-default">How FinPal can help my business?​​​​​​​</a>

        </div>
    </div>
</div>
<fp-footer> </fp-footer>