<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
            <span *ngIf="!adviceBuilderService.isUpdateAction" class="modal-title finpal-h2 padding-bottom-10 margin-right-5">Add New Action</span>
            <span *ngIf="adviceBuilderService.isUpdateAction" class="modal-title finpal-h2 padding-bottom-10 margin-right-5">Update Action</span>
        </div>
        <!-- <div class="modal-body" [style.display]="((debt.debtId && adviceBuilderService.isUpdateAction) || !adviceBuilderService.isUpdateAction) ? 'block' : 'none'"> -->
        <div class="modal-body" [style.display]="((contributeDebt.debtId && adviceBuilderService.isUpdateAction) || !adviceBuilderService.isUpdateAction) ? 'block' : 'none'">
            <form #contributeFundToDebt="ngForm">
                <div class="row">
                    <div class="col-md-1">
                        <ul class="icon-list margin-top-bot-5">
                            <li>
                                <span><i class="fa fa-arrow-right fa-lg dark-gray"></i></span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-11 padding-0">
                        <h3 *ngIf="!adviceBuilderService.isUpdateAction" class="action-style">Contribute funds to a Debt</h3>
                        <h3 *ngIf="adviceBuilderService.isUpdateAction" class="action-style">Update contribute funds to an Debt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 padding-top-10">
                        <ul class="nav nav-pills padding-top-10 padding-bottom-20">
                            <li id="basic-data" class="active">
                                <a id="contribute-funds-debt-details" data-toggle="pill" href="#contribute-debt-basic-data">Action details</a>
                            </li>
                            <li id="complementary-data">
                                <a data-toggle="pill" href="#contribute-debt-complementary-data">Advice comments</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Policy -->
                            <div id="contribute-debt-basic-data" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Debt record</label>
                                        <select class="form-control" name='debtRecord' [(ngModel)]="contributeDebt.debtId" required>
                                            <option hidden value="-1"></option>
                                            <option  *ngFor="let debt of notClosedDebtList" [value]="debt.id">{{debt.name}}</option>
                                        </select>
                                        <!-- <div *ngIf="adviceBuilderService.isUpdateAction">
                                            <p class="field-info"> {{getContributeDebtName()}}</p>
                                        </div> -->
                                    </div>
                                    <div class="col-md-8">
                                        <label class="control-label">Type</label><br />
                                        <label class="radio-inline">
                                            <input type="radio" name="typeOffsetAccount" [value]="true" [(ngModel)]="debtTypeIsOffset" (change)="debtAccountTypeChange(1)"> Offset account
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="typeLoanPrincipal" [value]="false" [(ngModel)]="debtTypeIsOffset" (change)="debtAccountTypeChange(0)"> Loan principal
                                        </label>
                                    </div>
                                </div>
                                <div class="row padding-top-20">
                                    <div class="col-md-4">
                                        <label class="control-label">Start Year</label>
                                        <input autocomplete="off" type="text" class="form-control" maxlength="4" name="startYear" placeholder="YYYY" [(ngModel)]="contributeDebt.startYear" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">End Year</label>
                                        <input autocomplete="off" type="text" class="form-control" maxlength="4" name="endYear" placeholder="YYYY" [(ngModel)]="contributeDebt.endYear" oninput="this.value=this.value.replace(/[^0-9]/g,'');" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Annual amount</label>
                                        <input type="text" class="form-control" name="annualAmount" [(ngModel)]="annualAmount" oninput="this.value=this.value.replace(/[^0-9]/g,'');" placeholder="$100" (focus)="onAmountFocus(annualAmount)" (focusout)="onAmountFocusOut(annualAmount)" (keyup)="onAmountKeyup($event)"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <!-- Benefits -->
                            <div id="contribute-debt-complementary-data" class="tab-pane fade">
                                <div>
                                    <label class="control-label">What is this action?</label>
                                    <textarea class="form-control" rows="3" name="actionWhat" [(ngModel)]="contributeDebt.details" [placeholder]="contributeDebt.details || ''"></textarea>
                                </div>
                                <div class="padding-top-20">
                                    <label class="control-label">Why are you taking this action?</label>
                                    <textarea class="form-control" rows="3" name="actionWhy" [(ngModel)]="contributeDebt.reason" [placeholder]="contributeDebt.reason || ''"></textarea>
                                </div>
                                <div class="padding-top-20">
                                    <label class="control-label">How It improves your situation?</label>
                                    <textarea class="form-control" rows="3" name="actionHow" [(ngModel)]="contributeDebt.result" [placeholder]="contributeDebt.result || ''"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 padding-top-20">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info pull-right margin-right-5" [disabled]="contributeFundToDebt.invalid || !viewDetectChange()" (click)="saveChangeFundsContribution()">{{adviceBuilderService.isUpdateAction ? "Save changes" : "Create contribution"}}s</button>
                    </div>
                </div>
            </form>
        </div>
        <div [style.display]="(!contributeDebt.actionId && adviceBuilderService.isUpdateAction) ? 'block' : 'none'" class="modal-body text-center margin-top-10 margin-bottom-10">
            <i class="fas fa-spinner fa-pulse"></i>
        </div>
    </div>
</div>