<fp-header> </fp-header>

<div class="breadcrumb-bar-document padding-top-50 padding-bottom-10">
    <div class="container">
        <a routerLink="/landing"><i class="fa fa-home fa-lg margin-right-5"></i></a> 
        <i class="fa fa-angle-right margin-right-5"></i> <a class="margin-right-5">Settings</a> 
        <i class="fa fa-angle-right margin-right-5"></i> <span class="active-breadcrumb">Third Party Connections</span>
    </div>
</div>

<router-outlet> </router-outlet>

<fp-footer> </fp-footer>